* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url("./../img/background-appweb-melhor.png");
}

.container {
	width: 100%;
	max-width: 500px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
	margin-bottom: 20px;
	color: #ddd;
}

.input-group {
	margin-bottom: 15px;
}

label {
	display: block;
	margin-bottom: 5px;
	color: #ddd;
	font-size: 14px;
}

input,
textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	background-color: #bbb;
	outline: none;
}

input:focus,
textarea:focus {
	border-color: #8f00ff;
	background-color: #ccc;
}

textarea {
	resize: none;
}

.btn {
	width: 100%;
	padding: 10px;
	background-color: #8f00ff;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.btn:hover {
	background-color: #3a0066;
}

.success-message {
	margin-top: 20px;
	text-align: center;
	color: lawngreen;
	font-size: 16px;
}
